@model IEnumerable<JogosDeGuerraModel.Batalha>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Batalhas</h2>

<p>
    <button class="btn btn-success" onclick="CriarNovaBatalha(1)">Criar Nova Batalha</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExercitoBranco.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExercitoPreto.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tabuleiro.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turno.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vencedor.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExercitoBranco.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExercitoPreto.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tabuleiro.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Turno.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vencedor.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @if (item.Estado == JogosDeGuerraModel.Batalha.EstadoBatalhaEnum.NaoIniciado)
            {
                @Html.ActionLink("Iniciar Batalha", "Tabuleiro", new { id = item.Id }, null)
                @Html.Label(" |")
            }
            <script>

            </script>
        </td>
    </tr>
}

</table>
@section MeusScripts
{
    <script src="~/Scripts/Tabuleiro.js"></script>
    }  
 

